@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, aqua;
}

html,
body,
#root {
  height: 100%;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato-sans);
  --font-mono: var(--font-lato-mono);
  --font-display: "Lato", sans-serif;
  --font-poppins: Poppins, sans-serif;
}
