@font-face {
  font-family: Blauer Nue Regular;
  src: url("/fonts/Blauer-Nue-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Blauer Nue Medium;
  src: url("/fonts/Blauer-Nue-Medium.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Blauer Nue Semibold;
  src: url("/fonts/Blauer-Nue-Semibold.otf");
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, aqua;
}

html,
body,
#root {
  height: 100%;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-couchDarkBlue: #001731;
  --color-couchGradientBlue: #01206d;
  --color-couchYellow: #f1a501;
  --color-couchBlue: #006fee;
  --color-couchLightBlue: #e6f1fe;
  --color-couchShadow: #7c7c7c;
  --font-sans: var(--font-lato-sans);
  --font-mono: var(--font-lato-mono);
  --font-display: "Lato", sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-blauerRegular: Blauer Nue Regular, sans-serif;
  --font-blauerMedium: Blauer Nue Medium, sans-serif;
  --font-blauerSemibold: Blauer Nue Semibold, sans-serif;
}
.btn {
  @apply bg-couchBlue inline-flex w-full md:max-w-[400px] justify-center text-white rounded-2xl px-16 py-8 mt-16 md:mt-0 font-blauerRegular text-xl;
}
