@font-face {
  font-family: Blauer Nue Regular;
  src: url("/fonts/Blauer-Nue-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Blauer Nue Medium;
  src: url("/fonts/Blauer-Nue-Medium.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Blauer Nue Semibold;
  src: url("/fonts/Blauer-Nue-Semibold.otf");
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, aqua;
}

html,
body,
#root {
  height: 100%;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-couchDarkBlue: #001731;
  --color-couchGradientBlue: #01206d;
  --color-couchYellow: #f1a501;
  --color-couchBlue: #006fee;
  --color-couchLightBlue: #e6f1fe;
  --color-couchShadow: #7c7c7c;
  --font-sans: var(--font-lato-sans);
  --font-mono: var(--font-lato-mono);
  --font-display: "Lato", sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-blauerRegular: Blauer Nue Regular, sans-serif;
  --font-blauerMedium: Blauer Nue Medium, sans-serif;
  --font-blauerSemibold: Blauer Nue Semibold, sans-serif;
}
.btn {
  @apply bg-couchBlue inline-flex w-full md:max-w-[400px] justify-center text-white rounded-2xl px-16 py-8 mt-16 md:mt-0 font-blauerRegular text-xl;
}
.btn-yellow {
  @apply bg-couchYellow inline-flex w-full md:max-w-[400px] justify-center text-white rounded-2xl px-16 py-8 mt-16 md:mt-0 font-blauerRegular text-xl;
}
.perks-ticker-image {
  @apply h-14 w-auto opacity-70;
}
.font-gradient {
  @apply bg-linear-to-b from-couchDarkBlue to-couchGradientBlue text-transparent bg-clip-text tracking-tight;
}
.subheader {
  @apply font-blauerRegular text-couchDarkBlue/70 text-lg md:text-2xl tracking-tight;
}
.bg-gradient {
  @apply bg-[radial-gradient(ellipse_200%_100%_at_bottom_left,#e6f1fe_50%,#ffffff)];
}
.card {
  @apply p-8 rounded-3xl shadow-xl max-w-sm w-full;
}

.h2-header {
  @apply text-3xl text-center font-blauerSemibold;
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(250, 250, 250, 0.05) 0%,
      transparent 60%
    ),
    rgba(0, 11, 238, 0.7);
}
.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.6) calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
}
